{{ 'hero.css' | asset_url | stylesheet_tag }}

<div class="hero hero__position">
  {%- if section.settings.image != blank -%}
    <img
      srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
        {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: 'master' }} 360w,{%- endif -%}
        {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: 'master' }} 535w,{%- endif -%}
        {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: 'master' }} 750w,{%- endif -%}
        {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: 'master' }} 2000w,{%- endif -%}
        {%- if section.settings.image.width >= 2040 -%}{{ section.settings.image | img_url: '2040x' }} 2040w,{%- endif -%}"
      src="{{ section.settings.image | img_url: 'master' }}"
      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
      alt="{{ section.settings.image.alt | escape }}"
      loading="lazy"
      width="{{ section.settings.image.width }}"
      class="hero__img-bg"
    >
  {%- else -%}
    {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}

  {% comment %}
    HERO SECTION BLOCKS
  {% endcomment %}
  {% assign opacity = section.settings.opacity | divided_by: 100.00 %}
  <div class="hero__content-wrapper" style="background-color: {{ section.settings.background | color_modify: 'alpha', opacity }};">
    <div class="hero__content">
      <div class="hero__info-box hero__info-{{ section.settings.content_alignment }} mx-auto">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {% when 'heading' %}
            <h1 class="hero__heading" {{ block.shopify_attributes }}>
              {{ block.settings.hero_one_title | escape }}
            </h1>
            
            {% when 'text' %}
            <p class="hero__text" {{ block.shopify_attributes }}>
              {{ block.settings.hero_one_text | escape }}
            </p>

            {% when 'button' %}
            <div class="site-cta-wrapper" style="display: inline-block;">
              {%- if block.settings.button_label != blank -%}
                <a href="{{ block.settings.button_link }}" class="hero__cta site-cta cta-style" {{ block.shopify_attributes }}>
                  {{ block.settings.button_label | escape }}
                </a>              
              {%- endif -%}
            </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Hero image"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Hero image overlay opacity",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Opacity",
        "default": 10
      },
      {
        "type": "select",
        "id": "content_alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "left",
        "label": "Hero content alignment"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.image-with-text.blocks.heading.name",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "hero_one_title",
            "label": "Hero heading",
            "default": "Ride your board"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.image-with-text.blocks.text.name",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "hero_one_text",
            "label": "Hero paragraph",
            "default": "Our new decks with fresh designs are on sale now."
          }
        ]
      },
      {
        "type": "button",
        "name": "t:sections.image-with-text.blocks.button.name",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
            "default": "SHOP DECKS"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero image",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "text"
          },
          {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}