{{ 'product-promo.css' | asset_url | stylesheet_tag }}

<section class="product-info product-info-right">
  {%- if section.settings.image != blank -%}
    <img
      srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
        {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: 'master' }} 360w,{%- endif -%}
        {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: 'master' }} 535w,{%- endif -%}
        {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: 'master' }} 750w,{%- endif -%}
        {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: 'master' }} 2000w,{%- endif -%}
        {%- if section.settings.image.width >= 2040 -%}{{ section.settings.image | img_url: '2040x' }} 2040w,{%- endif -%}"
      src="{{ section.settings.image | img_url: 'master' }}"
      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
      alt="{{ section.settings.image.alt | escape }}"
      loading="lazy"
      width="{{ section.settings.image.width }}"
      height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
    >
  {%- endif -%}
  <div class="product-info__wrapper">
    <div class="product-info__content product-info__content--{{ section.settings.aligned_content }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {% when 'heading' %}
          <h5 class="product-info__sm-heading">{{ block.settings.product_promo_sm_top_heading }}</h5>
          {% when 'heading-title' %}
          <h3 class="product-info__bg-heading">{{ block.settings.product_promo_heading_title }}</h3>
          {% when 'text' %}
          <p class="product-info__description">{{ block.settings.product_promo_text }}</p>
          {% when 'button' %}
          {%- if block.settings.button_label != blank -%}
          <a href="{{ block.settings.button_link }}" class="site-cta" {{ block.shopify_attributes }}>
            {{ block.settings.button_label | escape }}
          </a>
          {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product promo",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "aligned_content",
        "label": "Content alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Small top heading",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "product_promo_sm_top_heading",
            "label": "Top small heading",
            "default": "RED SKY DECK 3000"
          }
        ]
      },
      {
        "type": "heading-title",
        "name": "Heading title",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "product_promo_heading_title",
            "label": "Heading title",
            "default": "BEST DECK DESIGN OF 2021"
          }
        ]
      },
      {
        "type": "text",
        "name": "Paragraph",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "product_promo_text",
            "label": "Paragraph",
            "default": "Winner of the best design skateboard of 2021 two times. Designed and made in California."
          }
        ]
      },
      {
        "type": "button",
        "name": "Button link",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
            "default": "SHOP DECKS"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product promo",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "heading-title"
          },
          {
            "type": "text"
          },
          {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}